* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #fff;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px 20px;
    background-color: rgb(22, 21, 21);
    border: none;
    width: 100%;
}

.navbar > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navbar > ul > li {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}